
<!-- <img class="iconclass" src="../../../assets/assests/Noteicon2.png"/>
<img class="iconclass2" src="../../../assets/assests/peopleicon.png">
<img class="iconclass2" src="../../../assets/assests/coloricon.png">
<img class="iconclass2" src="../../../assets/assests/add image.png">
<img class="iconclass2" (click)="archive" src="../../../assets/assests/archive icon.png">
<img class="iconclass2" src="../../../assets/assests/moreicon.png"> -->
<!-- <img class="iconclass2" src="../../../assets/assests/undoicon.png">
<img class="iconclass2" src="../../../assets/assests/redo icon.png"> -->




<div class="icon-container" >
    
    <img class="icons" src="../../../assets/assests/remainder icon.png" alt="">
    <img class="icons" src="../../../assets/assests/peopleicon.png" alt="">
    <img class="icons" src="../../../assets/assests/coloricon.png" alt="">
    <img class="icons" src="../../../assets/assests/image.svg" alt="">
    
     <img (click)="archive()" class="icons" src="../../../assets/assests/archive icon.png" alt="">
    
    <img class="icons" src="../../../assets/assests/moreicon.png" alt="">
    
    </div>



