
<!-- <img class="iconclass" src="../../../assets/assests/Noteicon2.png"/>
<img class="iconclass2" src="../../../assets/assests/peopleicon.png">
<img class="iconclass2" src="../../../assets/assests/coloricon.png">
<img class="iconclass2" src="../../../assets/assests/add image.png">
<img class="iconclass2" (click)="archive" src="../../../assets/assests/archive icon.png">
<img class="iconclass2" src="../../../assets/assests/moreicon.png"> -->
<!-- <img class="iconclass2" src="../../../assets/assests/undoicon.png">
<img class="iconclass2" src="../../../assets/assests/redo icon.png"> -->




<div class="icon-container" >
    
    <img class="icons" src="../../../assets/assests/remainder icon.png" alt="">
    <img class="icons" src="../../../assets/assests/peopleicon.png" alt="">
    <img class="icons" src="../../../assets/assests/coloricon.png" alt="">
    <img class="icons" src="../../../assets/assests/image.svg" alt="">
    
     <img (click)="archive()" class="icons" src="../../../assets/assests/archive icon.png" alt="">
     <img (click)="unarchive()" class="icons" img src="../../../assets/assests/unarchive.svg" alt="">
    <img class="icons" mat-icon-button [matMenuTriggerFor]="menu" src="../../../assets/assests/moreicon.png" alt="">
    <mat-menu #menu="matMenu" >
        <button (click)="trash()" mat-menu-item>Delete note</button>
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>Show checkboxes</button>
        <button mat-menu-item>Copy to Google Docs</button>
    </mat-menu>
    </div>



