<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  class="example-toolbar">
      <button class="menuclass" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img class="keepclass" src="../../../assets/assests/keep_2020q4_48dp.png">
      <h1 class="example-app-name">Keep</h1>
      <input type="text" class="subtitleclass"  placeholder="search">
      <div class="iconclass">
      <img class="refreshclass" src="../../../assets/assests/refreshicon.png">
      <img class="refreshclass" src="../../../assets/assests/listviewicon.png">
      <img class="refreshclass" src="../../../assets/assests/settingsicon.png">
      <img class="refreshclass" src="../../../assets/assests/appsicon.png">
      <img class="refreshclass" src="../../../assets/assests/accountprofileicon.png">
      
    </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <!-- <img src="../../../assets/assests/notesicon.png"/> -->
           <a class="hoverclass" mat-list-item  routerLink="/dashboard/Notes" ><img class="notesclass" src="../../../assets/assests/notesicon.png">Notes</a>
          <a mat-list-item routerLink="/dashboard/remainder"><img class="notesclass"  src="../../../assets/assests/remainder icon.png">Remainder</a>
          <a mat-list-item routerLink="/dashboard/editlabel"  ><img class="notesclass"  src="../../../assets/assests/editlables.png">Edit lables</a>
          <a mat-list-item routerLink="/dashboard/archive"><img class="notesclass" src="../../../assets/assests/archive icon.png">Archive</a>
          <a mat-list-item routerLink="/dashboard/trash"  ><img class="notesclass"  src="../../../assets/assests/trashbinicon.png">Trash</a>
          <a mat-list-item routerLink="/dashboard/demo"  ><img class="notesclass"  src="../../../assets/assests/trashbinicon.png">demo</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  
