<div class="maincontainer">
    <div class="signincontainer">
        <form class="border">
            <span class="Fclass"><b>F</b></span>
            <span class="uclass"><b>u</b></span>
            <span class="nclass"><b>n</b></span>
            <span class="dclass"><b>d</b></span>
            <span class="Oclass"><b>o</b></span>
            <span class="oclass"><b>o</b></span>
          </form>
          <div class="titlesignin">Sign in</div>
          <div class="thirdtitle">
            Use your Google Account
          </div>
          <mat-form-field class="inputclass" appearance="outline">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone" />
          </mat-form-field>
          <div class="forgotmailclass">Forgot email?</div>
          <mat-form-field class="inputclass" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" />
          </mat-form-field>
          
          <div class="suggestionclass">Not your computer? Use Guest mode to sign in privately.</div>
          <div class="learnclass">Learn more</div>
          <div class="createaccountclass">
            Create account
            <button class="nextclass">Next</button>
          </div>
          
    </div>
    
</div>