<div class="maincontainer">
  <div class="signincontainer">
    <form class="border">
      <span class="Fclass"><b>F</b></span>
      <span class="uclass"><b>u</b></span>
      <span class="nclass"><b>n</b></span>
      <span class="dclass"><b>d</b></span>
      <span class="Oclass"><b>o</b></span>
      <span class="oclass"><b>o</b></span>
    </form>
    <div class="resetclass">Reset</div>
    <mat-form-field class="inputclass" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="old Password" />
      </mat-form-field>
      <mat-form-field class="inputclass" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="new Password" />
      </mat-form-field>
      <button class="nextclass">Next</button>
      
  </div>
  
</div>
