<div class="maincontainer">
  <div class="signincontainer">
    <form class="border">
      <span class="Fclass"><b>F</b></span>
      <span class="uclass"><b>u</b></span>
      <span class="nclass"><b>n</b></span>
      <span class="dclass"><b>d</b></span>
      <span class="Oclass"><b>o</b></span>
      <span class="oclass"><b>o</b></span>
    </form>

    <div class="findmailclass">Find your email</div>
    <div class="dicription">Enter your phone number or recovery email</div>

    <mat-form-field class="inputclass" appearance="outline">
      <mat-label>Phone number or email</mat-label>
      <input matInput placeholder="Phone number or email" />
    </mat-form-field>

    
      
      <button class="nextclass">Next</button>
  </div>
  
  
</div>

