<div class="maincontainer">
  <div class="signincontainer">
    <form [formGroup]="forgotpage" (ngSubmit)="onsubmit()" class="border">
      <span class="Fclass"><b>F</b></span>
      <span class="uclass"><b>u</b></span>
      <span class="nclass"><b>n</b></span>
      <span class="dclass"><b>d</b></span>
      <span class="Oclass"><b>o</b></span>
      <span class="oclass"><b>o</b></span>
    

    <div class="findmailclass">Find your email</div>
    <div class="dicription">Enter your phone number or recovery email</div>

    <mat-form-field class="inputclass" appearance="outline">
      <mat-label>Phone number or email</mat-label>
      <input matInput placeholder="Phone number or email" formControlName="phoneoremail" />
      <mat-error >  Enter Phone number or email </mat-error>
    </mat-form-field>
    <div class="buttonclass">
    <button  class="resetclass">Reset</button>
    <button routerLink="/resetpage" class="nextclass">Next</button>
  </div>
  </form>    
  </div>
</div>

